@use '../../../../assets/scss/theme.scss' as *;
.loaderCommerce {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    background-color: $firstColor;
}

.element {
    height: 0vh;
    width: calc(100% / 3);
    background-color: $backgroundColor;
}