$firstColor: #f2e9e4;
$secondColor: #cca000;
$threeColor: white;
$backgroundColor: #030207;
$backgroundProjet: #f2e9e4;
$colorProjet: #000000;
$line-height: 20px;
$line-height-hover: 15px;
$line-color: $firstColor;
$line-transition: all .2s cubic-bezier(.25, .46, .45, .94);
$spaceColor: $backgroundColor;
$spaceBackgroundColor: $backgroundProjet;
$skillsColor: $backgroundColor;
$skillsBackgroundColor: $backgroundProjet;
$contactBackgroundColor: $backgroundProjet;
$contactColor: $backgroundColor;
$aboutColor: $backgroundColor;
$aboutBackgroundColor: $backgroundProjet;