@use '../../../../assets/scss/theme.scss' as *;
@use '../../../../assets/scss/mixin.scss' as *;
.content {
    position: relative;
    height: 92vh;
    z-index: 6;
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -230px;
    padding: 0;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    &__title {
        padding: 0;
        &--title {
            font-size: 13vw;
            color: $secondColor;
            margin: 0;
            padding: 0;
        }
        &--title:nth-child(2) {
            position: relative;
            top: -50px;
            font-size: 15vw;
            color: $threeColor;
            margin: 0;
            padding: 0;
        }
    }
}