@use '../../../../assets/scss/theme.scss' as *;
@use '../../../../assets/scss/mixin.scss' as *;
.page {
    background-color: $backgroundProjet;
}

.projectCommerce {
    min-height: 100vh;
    background-color: $backgroundProjet;
    color: $colorProjet;
    position: relative;
    &__header {
        padding: 0;
        margin: 0 auto;
        height: 100vh;
        overflow: hidden;
        &--title {
            text-transform: uppercase;
            margin-top: 10vh;
            .main {
                font-size: 12vw;
                text-align: center;
                font-weight: bolder;
                margin: auto auto 0 auto;
            }
            .secondary {
                font-size: 2vw;
                text-align: center;
                font-weight: 400;
                font-style: italic;
                margin-top: auto;
            }
        }
        &--content {
            width: 80vw;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5vh auto;
            &>* {
                margin: 0;
                width: 50%;
            }
            .sectionFirst {
                dl {
                    dt {
                        font-weight: 900;
                        font-size: 3vw;
                        margin-bottom: 0;
                    }
                    dd {
                        margin-bottom: 10vh;
                    }
                }
                dl {
                    dt {
                        font-weight: 900;
                        font-size: 3vw;
                        margin-bottom: 0;
                    }
                    dd {
                        span {
                            font-weight: 900;
                            font-size: 1.3vw;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .sectionSecond {
                div {
                    margin: 0 0 15vh 5vw;
                    font-weight: 900;
                    font-size: 1.5vw;
                }
            }
        }
    }
    &__content {
        background-color: $colorProjet;
        color: white;
        padding: 0 5vw 0 5vw;
        height: 100vh;
        overflow: hidden;
        margin: 0s;
        &>* {
            transform: translate(0, 10vh);
        }
        &--header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 5vw;
            div {
                h3 {
                    font-weight: 900;
                    font-size: 2.5vw;
                    margin-bottom: 0;
                }
            }
        }
        &--introduction {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60vh;
            margin-top: 10vh;
            &>* {
                width: 50%;
            }
            h1 {
                font-size: 4vw;
                align-self: flex-start;
                margin-top: 5vh;
            }
            p {
                font-size: 3vw;
                margin: 0;
                span {
                    font-weight: 600;
                    font-size: 3.5vw;
                    margin-bottom: 0;
                }
            }
        }
    }
    &__image {
        width: 100vw;
        background-color: $threeColor;
        &--one {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            img {
                height: 80vh;
                max-width: 90vw;
                object-fit: cover;
            }
        }
        &--two {
            display: flex;
            justify-content: start;
            align-items: start;
            height: 100vh;
            img {
                height: 80vh;
                max-width: 90vw;
                object-fit: contain;
            }
        }
        &--three {
            display: flex;
            justify-content: end;
            align-items: flex-start;
            height: 80vh;
            img {
                height: 80vh;
                max-width: 90vw;
                object-fit: contain;
            }
        }
    }
    &__next {
        height: 60vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: #0C0D0E;
        cursor: none;
        div {
            height: 40vh;
            width: 80vw;
            color: $backgroundProjet;
            background-color: #181A1B;
        }
        h3 {
            font-weight: 600;
            font-size: 1.3vw;
            margin-bottom: 0;
        }
        h1 {
            font-size: 7vw;
            align-self: flex-start;
            margin-top: 5vh;
            margin-left: 8vw;
        }
    }
}

@include mobile () {
    .projectCommerce {
        min-height: 200vh;
        &__header {
            height: 200vh !important;
            &--title {
                margin-top: 10vh;
                .main {
                    font-size: 12vw;
                }
                .secondary {
                    font-size: 4vw;
                }
            }
            &--content {
                width: 80vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;
                &>* {
                    margin: 0;
                    width: 100%;
                }
                .sectionFirst {
                    order: 2;
                    dl {
                        dt {
                            font-weight: 900;
                            font-size: 15vw;
                        }
                        dd {
                            margin-bottom: 10vh;
                            margin-top: 5vh;
                            font-size: 7vw;
                        }
                    }
                    dl {
                        dt {
                            font-weight: 900;
                            font-size: 15vw;
                            margin-bottom: 0;
                        }
                        dd {
                            p {
                                font-size: 4vw;
                            }
                            span {
                                font-weight: 900;
                                font-size: 8vw;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .sectionSecond {
                    order: 1;
                    margin-top: 10vh;
                    div {
                        font-weight: 900;
                        font-size: 5vw;
                    }
                    div:first-child {
                        margin-bottom: 15vh;
                    }
                }
            }
        }
        &__content {
            height: 200vh;
            margin: 0;
            &--header {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                div {
                    h3 {
                        font-size: 7vw;
                    }
                    p {
                        font-size: 5vw;
                        text-indent: 20px;
                        font-style: italic;
                    }
                }
            }
            &--introduction {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                margin-top: 30vh;
                &>* {
                    width: 100%;
                }
                h1 {
                    font-size: 14vw;
                    text-align: center;
                }
                p {
                    line-height: 8vw;
                    font-size: 6vw;
                    span {
                        font-size: 7vw;
                    }
                }
            }
        }
        &__next {
            height: 60vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: #0C0D0E;
            div {
                height: 40vh;
                width: 80vw;
                color: $backgroundProjet;
                background-color: #181A1B;
            }
            h3 {
                font-weight: 600;
                font-size: 3vw;
                margin-bottom: 0;
            }
            h1 {
                font-size: 10vw;
                align-self: flex-start;
                margin-top: 5vh;
                margin-left: 8vw;
            }
        }
    }
}

@include tab() {
    .projectCommerce {
        &__header {
            &--content {
                .sectionFirst {
                    dl {
                        p {
                            font-size: 2vw;
                        }
                    }
                }
            }
        }
        &__content {
            &--header {
                div {
                    p {
                        font-size: 2vw;
                    }
                }
            }
            &--introduction {
                p {
                    font-size: 3vw;
                }
            }
        }
    }
}

.button-close {
    display: block;
    position: fixed;
    width: 48px;
    height: 48px;
    color: $colorProjet;
    outline: none;
    top: 2%;
    left: 1%;
    border: none;
    background-color: $backgroundProjet;
    mix-blend-mode: difference;
    &:hover {
        &:before {
            width: $line-height-hover;
        }
        &:after {
            width: $line-height-hover;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 2px;
        border-left: $line-height solid currentColor;
        border-right: $line-height solid currentColor;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        transition: $line-transition;
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 2px;
        border-left: $line-height solid currentColor;
        border-right: $line-height solid currentColor;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
        transition: $line-transition;
    }
}