@use '../../../../assets/scss/theme.scss' as *;
.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    pointer-events: none;
    mix-blend-mode: difference;
    &>div {
        position: absolute;
        background-color: $firstColor;
        width: 100vw;
        height: 33.33%;
    }
    &--child2 {
        bottom: 33.33%;
    }
    &--child3 {
        bottom: 0;
    }
}